<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.PageName - 我的 ASP.NET 应用程序</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-table.css" rel="stylesheet" />
    <link href="~/Content/authentication.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-material.css" rel="stylesheet" />
    <link href="~/Content/shreerang-material.css" rel="stylesheet" />
    <link href="~/Content/uikit.css" rel="stylesheet" />
    <link href="~/Content/Layout.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.7.0.js"></script>
    <script src="~/Scripts/bootstrap.bundle.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>

    <script src="~/Scripts/bootstrap-table.js"></script>
    <script src="~/Scripts/bootstrap-table-zh-CN.js"></script>
    <style>
    </style>
    <script>
        $(function () {
            //创建通知

            $.ajax({
                type: "get",
                url: "/Common/GetSession",
                dataType: "json",
                success: function (result) {
                    $("#UserName").html(result["U_RealName"])
                    $("#UserRole").html(result["U_Role"])
                }
            })
            $("#@ViewBag.Title").parent().parent().parent().collapse();
            $("#@ViewBag.Title").css({
                color: 'rgba(0, 0, 0, .85)',
                backgroundColor: '#1fdeee'
            });

        });
    </script>
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="bootstrap" viewBox="0 0 1024 1024">
            <title>Bootstrap</title>
            <path d="M818.55 256.4h-628a30 30 0 1 1 0-60h628a30 30 0 0 1 0 60zM818.55 821.77h-628a30 30 0 0 1 0-60h628a30 30 0 0 1 0 60z" fill="#0A1491" p-id="3457"></path>
            <path d="M748.73 951.26c-41.78 0-64-21.1-80.28-36.51-14.66-13.9-21.86-20-39-20s-24.31 6.14-39 20c-16.24 15.41-38.48 36.52-80.25 36.52s-64-21.11-80.21-36.53c-14.62-13.89-21.81-20-38.89-20s-24.29 6.14-38.93 20C336 930.15 313.74 951.26 272 951.26c-36.38 0-57.61-20.9-70.4-36.63-26.44-32.48-41-75.47-41-121.06V226.12c0-45.58 14.56-88.58 41-121.06 12.8-15.72 34-36.63 70.4-36.63 41.76 0 64 21.11 80.24 36.52 14.64 13.89 21.83 20 38.93 20s24.26-6.14 38.89-20c16.23-15.41 38.46-36.53 80.21-36.53s64 21.11 80.25 36.52c14.64 13.9 21.84 20 39 20s24.34-6.15 39-20c16.25-15.41 38.5-36.51 80.28-36.51 44.74 0 67.52 31.81 79.75 48.9 23.38 32.66 36.26 73.4 36.26 114.72v555.59c0 41.32-12.88 82.06-36.26 114.72-12.3 17.09-35.08 48.9-79.82 48.9zM629.44 834.7c41.78 0 64 21.1 80.29 36.51 14.66 13.9 21.86 20 39 20 10.79 0 17.73-5.34 31-23.83 16.15-22.55 25-50.89 25-79.79V232.06c0-28.9-8.89-57.23-25-79.79-13.23-18.48-20.18-23.83-31-23.83-17.14 0-24.34 6.15-39 20-16.25 15.45-38.5 36.56-80.29 36.56s-64-21.11-80.25-36.52c-14.64-13.9-21.84-20-39-20s-24.26 6.14-38.89 20c-16.18 15.4-38.41 36.52-80.16 36.52s-64-21.11-80.23-36.52c-14.64-13.89-21.83-20-38.93-20-7.83 0-13.95 2.31-23.87 14.5-17.75 21.81-27.53 51.35-27.53 83.18v567.42c0 31.83 9.78 61.37 27.53 83.18 9.92 12.19 16 14.5 23.87 14.5 17.1 0 24.29-6.14 38.93-20 16.24-15.41 38.47-36.52 80.23-36.52s64 21.11 80.21 36.53c14.63 13.89 21.81 20 38.89 20s24.31-6.14 39-20c16.19-15.46 38.44-36.57 80.2-36.57z" fill="#2F4FF8" p-id="3458"></path>
            <path d="M688.77 515.07H336a19.2 19.2 0 0 1-19.2-19.2V329.22A19.2 19.2 0 0 1 336 310h352.77a19.2 19.2 0 0 1 19.2 19.2v166.67a19.2 19.2 0 0 1-19.2 19.2z m-333.55-38.4h314.35V348.42H355.21z" fill="#53C6F9" p-id="3459"></path>
        </symbol>
        <symbol id="home" viewBox="0 0 16 16">
            <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z" />
        </symbol>
        <symbol id="speedometer2" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5V6a.5.5 0 0 1-1 0V4.5A.5.5 0 0 1 8 4zM3.732 5.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 10a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 10zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 9.31a.91.91 0 1 0 1.302 1.258l3.434-4.297a.389.389 0 0 0-.029-.518z" />
            <path fill-rule="evenodd" d="M0 10a8 8 0 1 1 15.547 2.661c-.442 1.253-1.845 1.602-2.932 1.25C11.309 13.488 9.475 13 8 13c-1.474 0-3.31.488-4.615.911-1.087.352-2.49.003-2.932-1.25A7.988 7.988 0 0 1 0 10zm8-7a7 7 0 0 0-6.603 9.329c.203.575.923.876 1.68.63C4.397 12.533 6.358 12 8 12s3.604.532 4.923.96c.757.245 1.477-.056 1.68-.631A7 7 0 0 0 8 3z" />
        </symbol>
        <symbol id="table" viewBox="0 0 16 16">
            <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z" />
        </symbol>
        <symbol id="people-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
        </symbol>
        <symbol id="grid" viewBox="0 0 16 16">
            <path d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zM2.5 2a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zM1 10.5A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z" />
        </symbol>
        <symbol id="collection" viewBox="0 0 16 16">
            <path d="M2.5 3.5a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11zm2-2a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zm1.5.5A.5.5 0 0 1 1 13V6a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13z" />
        </symbol>
        <symbol id="calendar3" viewBox="0 0 16 16">
            <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z" />
            <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
        </symbol>
        <symbol id="chat-quote-fill" viewBox="0 0 16 16">
            <path d="M16 8c0 3.866-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7zM7.194 6.766a1.688 1.688 0 0 0-.227-.272 1.467 1.467 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 5.734 6C4.776 6 4 6.746 4 7.667c0 .92.776 1.666 1.734 1.666.343 0 .662-.095.931-.26-.137.389-.39.804-.81 1.22a.405.405 0 0 0 .011.59c.173.16.447.155.614-.01 1.334-1.329 1.37-2.758.941-3.706a2.461 2.461 0 0 0-.227-.4zM11 9.073c-.136.389-.39.804-.81 1.22a.405.405 0 0 0 .012.59c.172.16.446.155.613-.01 1.334-1.329 1.37-2.758.942-3.706a2.466 2.466 0 0 0-.228-.4 1.686 1.686 0 0 0-.227-.273 1.466 1.466 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 10.07 6c-.957 0-1.734.746-1.734 1.667 0 .92.777 1.666 1.734 1.666.343 0 .662-.095.931-.26z" />
        </symbol>
        <symbol id="cpu-fill" viewBox="0 0 16 16">
            <path d="M6.5 6a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z" />
            <path d="M5.5.5a.5.5 0 0 0-1 0V2A2.5 2.5 0 0 0 2 4.5H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2A2.5 2.5 0 0 0 4.5 14v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14a2.5 2.5 0 0 0 2.5-2.5h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14A2.5 2.5 0 0 0 11.5 2V.5a.5.5 0 0 0-1 0V2h-1V.5a.5.5 0 0 0-1 0V2h-1V.5a.5.5 0 0 0-1 0V2h-1V.5zm1 4.5h3A1.5 1.5 0 0 1 11 6.5v3A1.5 1.5 0 0 1 9.5 11h-3A1.5 1.5 0 0 1 5 9.5v-3A1.5 1.5 0 0 1 6.5 5z" />
        </symbol>
        <symbol id="gear-fill" viewBox="0 0 16 16">
            <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z" />
        </symbol>
        <symbol id="speedometer" viewBox="0 0 16 16">
            <path d="M8 2a.5.5 0 0 1 .5.5V4a.5.5 0 0 1-1 0V2.5A.5.5 0 0 1 8 2zM3.732 3.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 8a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 7.31A.91.91 0 1 0 8.85 8.569l3.434-4.297a.389.389 0 0 0-.029-.518z" />
            <path fill-rule="evenodd" d="M6.664 15.889A8 8 0 1 1 9.336.11a8 8 0 0 1-2.672 15.78zm-4.665-4.283A11.945 11.945 0 0 1 8 10c2.186 0 4.236.585 6.001 1.606a7 7 0 1 0-12.002 0z" />
        </symbol>
        <symbol id="toggles2" viewBox="0 0 16 16">
            <path d="M9.465 10H12a2 2 0 1 1 0 4H9.465c.34-.588.535-1.271.535-2 0-.729-.195-1.412-.535-2z" />
            <path d="M6 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 1a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm.535-10a3.975 3.975 0 0 1-.409-1H4a1 1 0 0 1 0-2h2.126c.091-.355.23-.69.41-1H4a2 2 0 1 0 0 4h2.535z" />
            <path d="M14 4a4 4 0 1 1-8 0 4 4 0 0 1 8 0z" />
        </symbol>
        <symbol id="tools" viewBox="0 0 16 16">
            <path d="M1 0L0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.356 3.356a1 1 0 0 0 1.414 0l1.586-1.586a1 1 0 0 0 0-1.414l-3.356-3.356a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3c0-.269-.035-.53-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814L1 0zm9.646 10.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708zM3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026L3 11z" />
        </symbol>
        <symbol id="chevron-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
        </symbol>
        <symbol id="geo-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999zm2.493 8.574a.5.5 0 0 1-.411.575c-.712.118-1.28.295-1.655.493a1.319 1.319 0 0 0-.37.265.301.301 0 0 0-.057.09V14l.002.008a.147.147 0 0 0 .016.033.617.617 0 0 0 .145.15c.165.13.435.27.813.395.751.25 1.82.414 3.024.414s2.273-.163 3.024-.414c.378-.126.648-.265.813-.395a.619.619 0 0 0 .146-.15.148.148 0 0 0 .015-.033L12 14v-.004a.301.301 0 0 0-.057-.09 1.318 1.318 0 0 0-.37-.264c-.376-.198-.943-.375-1.655-.493a.5.5 0 1 1 .164-.986c.77.127 1.452.328 1.957.594C12.5 13 13 13.4 13 14c0 .426-.26.752-.544.977-.29.228-.68.413-1.116.558-.878.293-2.059.465-3.34.465-1.281 0-2.462-.172-3.34-.465-.436-.145-.826-.33-1.116-.558C3.26 14.752 3 14.426 3 14c0-.599.5-1 .961-1.243.505-.266 1.187-.467 1.957-.594a.5.5 0 0 1 .575.411z" />
        </symbol>
        <symbol id="ico_UserName" viewBox="0 0 1024 1024">
            <path d="M682.666667 256a170.666667 170.666667 0 1 1-341.333334 0 170.666667 170.666667 0 0 1 341.333334 0z m-64 0a106.666667 106.666667 0 1 0-213.333334 0 106.666667 106.666667 0 0 0 213.333334 0zM160 896a352 352 0 0 1 704 0h64c0-229.76-186.24-416-416-416S96 666.24 96 896h64z" fill="#000000" p-id="1972"></path>
        </symbol>
        <symbol id="ico_UserRole" viewBox="0 0 1024 1024">
            <path d="M341.333333 469.333333a85.333333 85.333333 0 1 0 0-170.666666 85.333333 85.333333 0 0 0 0 170.666666zM175.914667 640.426667a170.752 170.752 0 0 1 330.794666 0c5.845333 22.826667-13.824 42.24-37.376 42.24H213.333333c-23.552 0-43.221333-19.413333-37.418666-42.24zM597.333333 309.333333a32 32 0 0 0 0 64h213.333334a32 32 0 0 0 0-64h-213.333334zM565.333333 490.666667a32 32 0 0 1 32-32h213.333334a32 32 0 0 1 0 64h-213.333334a32 32 0 0 1-32-32zM597.333333 608a32 32 0 0 0 0 64h213.333334a32 32 0 0 0 0-64h-213.333334z" fill="#2c2c2c" p-id="2136"></path>
            <path d="M42.666667 256a85.333333 85.333333 0 0 1 85.333333-85.333333h768a85.333333 85.333333 0 0 1 85.333333 85.333333v512a85.333333 85.333333 0 0 1-85.333333 85.333333H128a85.333333 85.333333 0 0 1-85.333333-85.333333V256z m85.333333-21.333333a21.333333 21.333333 0 0 0-21.333333 21.333333v512a21.333333 21.333333 0 0 0 21.333333 21.333333h768a21.333333 21.333333 0 0 0 21.333333-21.333333V256a21.333333 21.333333 0 0 0-21.333333-21.333333H128z" fill="#2c2c2c" p-id="2137"></path>
        </symbol>
        <symbol id="ico_Sidenav" viewBox="0 0 1024 1024">
            <path d="M426.666667 554.666667H256a85.333333 85.333333 0 0 0-85.333333 85.333333v170.666667a85.333333 85.333333 0 0 0 85.333333 85.333333h170.666667a85.333333 85.333333 0 0 0 85.333333-85.333333v-170.666667a85.333333 85.333333 0 0 0-85.333333-85.333333z m-170.666667 256v-170.666667h170.666667v170.666667H256zM810.666667 554.666667h-170.666667a85.333333 85.333333 0 0 0-85.333333 85.333333v170.666667a85.333333 85.333333 0 0 0 85.333333 85.333333h170.666667a85.333333 85.333333 0 0 0 85.333333-85.333333v-170.666667a85.333333 85.333333 0 0 0-85.333333-85.333333z m-170.666667 256v-170.666667h170.666667v170.666667h-170.666667zM426.666667 170.666667H256a85.333333 85.333333 0 0 0-85.333333 85.333333v170.666667a85.333333 85.333333 0 0 0 85.333333 85.333333h170.666667a85.333333 85.333333 0 0 0 85.333333-85.333333V256a85.333333 85.333333 0 0 0-85.333333-85.333333z m-170.666667 256V256h170.666667v170.666667H256zM862.250667 204.544c-17.493333-17.450667-37.546667-30.762667-60.288-39.978667a180.650667 180.650667 0 0 0-68.522667-13.354666c-23.765333 0-46.592 4.437333-68.522667 13.354666a182.144 182.144 0 0 0-60.288 297.557334 182.144 182.144 0 1 0 257.621334-257.578667z m-128.810667 32c26.752 0 49.536 9.429333 68.437333 28.330667a96.810667 96.810667 0 1 1-136.874666 136.917333 96.810667 96.810667 0 0 1 0-136.917333 93.269333 93.269333 0 0 1 68.437333-28.330667z" fill="#2c2c2c" p-id="10279"></path>
        </symbol>
        <symbol id="ico_RoleAdmin" viewBox="0 0 1024 1024">
            <path d="M512 512a213.333333 213.333333 0 1 0 0-426.666667 213.333333 213.333333 0 0 0 0 426.666667z m0-341.333333a128 128 0 1 1 0 256 128 128 0 0 1 0-256z" fill="#2c2c2c" p-id="983"></path>
            <path d="M673.834667 584.874667l60.330666-60.373334c-16.853333-16.853333-47.402667-30.848-91.733333-42.026666A531.157333 531.157333 0 0 0 512 466.346667a380.373333 380.373333 0 0 0-130.816 22.698666 345.301333 345.301333 0 0 0-108.16 62.72 298.24 298.24 0 0 0-74.496 94.976A265.258667 265.258667 0 0 0 170.666667 765.44c0 37.333333 11.136 67.114667 33.450666 89.301333 18.773333 18.688 44.373333 30.506667 76.885334 35.413334 22.528 3.456 49.792 3.669333 81.792 0.64 17.749333-1.706667 43.776-5.248 78.08-10.794667 36.181333-5.845333 59.904-8.746667 71.125333-8.746667h64v-85.333333H512c-10.88 0-24.490667 1.066667-40.746667 3.157333-9.216 1.237333-23.893333 3.413333-43.946666 6.656-32.426667 5.248-56.618667 8.618667-72.533334 10.112-25.002667 2.346667-45.312 2.346667-60.928 0-14.08-2.133333-23.936-6.016-29.525333-11.562666-5.546667-5.546667-8.32-15.146667-8.32-28.842667 0-28.16 6.357333-55.168 19.072-80.981333a213.845333 213.845333 0 0 1 53.546667-67.968 260.693333 260.693333 0 0 1 81.706666-47.232A295.68 295.68 0 0 1 512 551.68c37.290667 0 73.813333 4.522667 109.568 13.525333 15.146667 3.84 28.032 8.021333 38.656 12.544 4.437333 1.92 8.106667 3.754667 11.093333 5.461334a30.037333 30.037333 0 0 1 2.517334 1.706666z" fill="#2c2c2c" p-id="984"></path>
            <path d="M743.594667 924.586667l-98.858667-57.173334a48.768 48.768 0 0 1-24.362667-42.24v-114.346666c0-17.450667 9.301333-33.536 24.362667-42.24l98.858667-57.173334c15.104-8.704 33.706667-8.704 48.810666 0l98.858667 57.173334c15.061333 8.704 24.362667 24.789333 24.362667 42.24v114.346666c0 17.450667-9.301333 33.536-24.32 42.24l-98.901334 57.173334c-15.104 8.704-33.706667 8.704-48.810666 0zM768 832a64 64 0 1 0 0-128 64 64 0 0 0 0 128z" fill="#2c2c2c" p-id="985"></path>
        </symbol>
        <symbol id="Create" viewBox="0 0 1024 1024">
            <title>Create</title>
            <path d="M788.281302 548.493644h-540.994717c-16.799836 0-30.399703-13.599867-30.399703-30.399704 0-16.799836 13.599867-30.399703 30.399703-30.399703h540.994717c16.799836 0 30.399703 13.599867 30.399703 30.399703 0 16.699837-13.599867 30.399703-30.399703 30.399704zM517.683944 819.191c-16.799836 0-30.399703-13.599867-30.399703-30.399703v-541.494712c0-16.799836 13.599867-30.399703 30.399703-30.399703s30.399703 13.599867 30.399704 30.399703v541.494712c0.099999 16.799836-13.599867 30.399703-30.399704 30.399703zM512.483995 1023.989c-69.099325 0-136.19867-13.499868-199.298053-40.299606-60.999404-25.799748-115.798869-62.699388-162.698412-109.798928-47.09954-46.999541-83.99918-101.699007-109.798927-162.79841-26.699739-63.199383-40.199607-130.198729-40.199608-199.298054s13.599867-136.19867 40.199608-199.298054c25.799748-60.699407 62.699388-115.598871 109.798927-162.598412s101.699007-83.99918 162.698412-109.59893c63.099384-26.699739 130.198729-40.299606 199.298053-40.299606s136.19867 13.499868 199.298054 40.299606c60.999404 25.799748 115.798869 62.599389 162.698411 109.59893 47.09954 46.999541 83.99918 101.699007 109.798928 162.79841 26.699739 63.199383 40.199607 130.198729 40.199607 199.298054 0 92.699095-25.099755 183.498208-72.499292 262.697435-8.699915 14.499858-27.299733 19.099813-41.699592 10.499897-14.399859-8.699915-18.999814-27.299733-10.499898-41.799592 41.699593-69.699319 63.799377-149.698538 63.899376-231.297741 0-60.899405-11.899884-119.898829-35.399654-175.498286-22.699778-53.799475-55.29946-101.899005-96.699056-143.3986s-89.799123-73.999277-143.498599-96.699055c-55.599457-23.59977-114.69888-35.399654-175.698284-35.399655s-119.998828 11.899884-175.698284 35.399655c-53.599477 22.699778-101.799006 55.199461-143.198602 96.699055s-73.999277 89.599125-96.699055 143.3986c-23.499771 55.599457-35.399654 114.69888-35.399654 175.498286 0 60.899405 11.899884 119.898829 35.399654 175.498286 22.699778 53.799475 55.29946 101.899005 96.699055 143.3986 41.399596 41.399596 89.799123 73.999277 143.498599 96.699056 55.599457 23.59977 114.69888 35.399654 175.698284 35.399654 90.899112 0 178.498257-26.899737 253.397526-77.79924 13.899864-9.399908 32.79968-5.899942 42.299587 7.999921 9.399908 13.899864 5.899942 32.899679-7.999922 42.299587-85.199168 57.899435-184.698196 88.399137-287.897189 88.399137z" p-id="1576" fill="#2c2c2c"></path>
        </symbol>
        <symbol id="Updata" viewBox="0 0 1024 1024">
            <title>Updata</title>
            <path d="M319.018846 629.538522c-7.799238 0-15.598477-2.999707-21.497901-8.899131-11.898838-11.898838-11.898838-31.196953 0-43.095792l216.378869-216.67884c11.898838-11.898838 31.096963-11.898838 42.995802 0 11.898838 11.898838 11.898838 31.196953 0 43.095792L340.516746 620.739381c-5.899424 5.799434-13.698662 8.799141-21.4979 8.799141zM589.492432 358.864955c-7.799238 0-15.598477-2.999707-21.4979-8.899131-11.898838-11.898838-11.898838-31.196953 0-43.095792l54.094717-54.194707c11.898838-11.898838 31.096963-11.898838 42.995801 0 11.898838 11.898838 11.898838 31.196953 0 43.095791L610.990333 349.865833c-5.999414 5.999414-13.798652 8.999121-21.497901 8.999122zM751.776584 737.827946h-540.947173c-16.79836 0-30.397032-13.598672-30.397031-30.397031 0-16.79836 13.598672-30.397032 30.397031-30.397032h540.847183c16.79836 0 30.397032 13.598672 30.397032 30.397032s-13.498682 30.397032-30.297042 30.397031zM511.90001 1024c-69.093253 0-136.186701-13.498682-199.280539-40.296065C251.725417 957.906454 196.930768 921.010058 150.035348 874.014647c-47.095401-46.995411-83.991798-101.690069-109.689288-162.784103C13.548677 648.036715 0.049995 580.943267 0.049995 511.850015s13.598672-136.186701 40.196075-199.280539C66.04355 251.775413 102.939947 196.980764 150.035348 149.985353c47.095401-46.995411 101.690069-83.991798 162.684113-109.689288 63.093838-26.697393 130.187286-40.296065 199.280539-40.296065s136.186701 13.498682 199.280539 40.296065c60.994044 25.797481 115.788693 62.693878 162.684113 109.689288 47.095401 46.995411 83.991798 101.690069 109.689288 162.784103 26.697393 63.193829 40.196075 130.187286 40.196075 199.280539 0 92.790938-25.097549 183.582072-72.492921 262.674348-8.69915 14.498584-27.297334 19.098135-41.695928 10.498975-14.398594-8.69915-18.998145-27.297334-10.498975-41.795918 41.695928-69.693194 63.79377-149.685382 63.893761-231.277415 0-60.894053-11.898838-119.988282-35.396544-175.482863-22.697783-53.794747-55.2946-101.99004-96.690557-143.385997C789.572893 151.585197 741.27761 119.08837 687.582853 96.390587 631.988282 72.792891 572.894053 60.894053 512 60.894053S392.011718 72.792891 336.417147 96.390587C282.6224 119.08837 234.427107 151.585197 193.031149 193.081144s-73.992774 89.591251-96.690557 143.385998c-23.497705 55.594571-35.396543 114.6888-35.396544 175.482863 0 60.894053 11.898838 119.988282 35.396544 175.482863 22.697783 53.794747 55.2946 101.99004 96.690557 143.385997 41.395957 41.395957 89.691241 73.992774 143.385998 96.690558C392.011718 951.107118 451.105947 963.005956 512 963.005956c90.891124 0 178.48257-26.897373 253.375256-77.892393 13.898643-9.399082 32.796797-5.899424 42.29587 7.999219s5.899424 32.896787-7.999219 42.295869c-84.9917 58.094327-184.481984 88.591349-287.771897 88.591349z" p-id="1766" fill="#2c2c2c"></path>
        </symbol>
        <symbol id="Delete" viewBox="0 0 1024 1024">
            <title>Delete</title>
            <path d="M752.489 1023.989h-480.9c-83.3 0-151.1-63.8-151.1-142.3v-670.9c0-16.6 13.4-30.1 30.1-30.1 16.6 0 30.1 13.4 30.1 30.1v670.9c0 45.2 40.8 82.1 90.8 82.1h480.8c50.1 0 90.8-36.8 90.8-82.1v-318.1c0-16.6 13.4-30.1 30.1-30.1 16.6 0 30.1 13.4 30.1 30.1v318.1c0.3 78.5-67.4 142.3-150.8 142.3z m120.9-694.9c-16.6 0-30.1-13.4-30.1-30.1v-88.2c0-16.6 13.4-30.1 30.1-30.1 16.6 0 30.1 13.4 30.1 30.1v88.2c0.1 16.7-13.3 30.1-30.1 30.1zM963.889 210.789h-903.6c-16.6 0-30.1-13.4-30.1-30.1s13.4-30.1 30.1-30.1h903.5c16.6 0 30.1 13.4 30.1 30.1s-13.4 30.1-30 30.1zM512.089 210.789c-33.2 0-60.2-27-60.2-60.2v-90.3c0-33.2 27-60.2 60.2-60.2s60.2 26.9 60.2 60.1v90.3c0 33.3-27 60.3-60.2 60.3zM361.489 873.289c-16.6 0-30.1-13.4-30.1-30.1v-542.1c0-16.6 13.4-30.1 30.1-30.1 16.6 0 30.1 13.4 30.1 30.1v542.1c0 16.7-13.5 30.1-30.1 30.1zM662.589 873.289c-16.6 0-30.1-13.4-30.1-30.1v-542.1c0-16.6 13.4-30.1 30.1-30.1 16.6 0 30.1 13.4 30.1 30.1v542.1c0.1 16.7-13.4 30.1-30.1 30.1z" p-id="2146" fill="#2c2c2c"></path>
        </symbol>
        <symbol id="Distribution" viewBox="0 0 1024 1024">
            <title>Distribution</title>
            <path d="M544.56312 1023.978003h-389.753564c-51.093913 0-92.788945-42.094985-92.788945-93.988802v-836.000399c0-51.793829 41.795021-93.988802 92.988921-93.988802h701.216457c51.393877 0 92.988921 42.194973 92.988921 94.188778v463.744749c0 18.79776-15.198189 34.095938-34.095938 34.095938s-34.095938-15.198189-34.095938-34.095938v-463.544773c0-14.298296-11.198666-25.896915-24.797045-25.896914h-701.216457c-13.698368 0-24.797046 11.49863-24.797046 25.696938v836.000399c0 14.398285 10.798713 25.696938 24.497082 25.696938h389.753564c18.79776 0 34.095938 15.198189 34.095938 34.095938 0 18.79776-15.098201 33.99595-33.99595 33.99595zM768.936388 337.159831h-526.537268c-18.79776 0-34.095938-15.198189-34.095937-34.095938s15.198189-34.095938 34.095937-34.095938h526.537268c18.79776 0 34.095938 15.198189 34.095938 34.095938s-15.198189 34.095938-34.095938 34.095938zM534.864276 516.338483h-292.465156c-18.79776 0-34.095938-15.198189-34.095937-34.095938s15.198189-34.095938 34.095937-34.095937h292.465156c18.79776 0 34.095938 15.198189 34.095938 34.095937s-15.198189 34.095938-34.095938 34.095938zM739.639879 964.285114c-115.586229 0-209.575031-95.788588-209.575031-213.27459 0-18.79776 15.198189-34.095938 34.095938-34.095938 18.79776 0 34.095938 15.198189 34.095937 34.095938 0 79.99047 63.492435 145.082715 141.283168 145.082715 19.897629 0 39.095342-4.1995 57.193186-12.398523 17.197951-7.799071 37.395545-0.199976 45.194615 16.897987 7.799071 17.197951 0.199976 37.395545-16.897987 45.194615-26.896795 12.198547-55.593377 18.497796-85.389826 18.497796z m175.579081-179.178652c-18.79776 0-34.095938-15.198189-34.095938-34.095938 0-79.99047-63.492435-145.082715-141.283167-145.082715-18.697772 0-36.995592 3.699559-54.093555 10.99869-17.397927 7.399118-37.395545-0.699917-44.794663-17.997856-7.399118-17.397927 0.699917-37.395545 17.997855-44.794663 25.696938-10.898702 52.893698-16.398046 80.890363-16.398046 115.586229 0 209.575031 95.788588 209.575031 213.27459-0.099988 18.79776-15.398165 34.095938-34.195926 34.095938zM681.146848 665.620698h-58.593019c-11.798594 0-22.697296-6.099273-28.896558-16.098083-6.199261-9.998809-6.79919-22.397332-1.699797-33.096056l29.296509-59.792877c5.799309-11.798594 17.597903-19.097725 30.596355-19.097724 13.098439 0 24.997022 7.399118 30.596355 19.097724l29.296509 59.792877c5.199381 10.598737 4.599452 22.99726-1.699797 33.096056-6.099273 10.098797-17.197951 16.098082-28.896557 16.098083zM826.929479 973.683995h-1.199857c-11.798594-0.399952-22.597308-6.79919-28.396617-16.997975l-29.296509-50.593972c-5.899297-10.198785-6.099273-22.697296-0.599929-33.096057 5.499345-10.398761 16.098082-17.197951 27.796688-17.997856l66.39209-4.599452c12.998451-0.799905 25.296986 5.799309 31.8962 16.997975 6.499226 11.298654 5.999285 25.296986-1.199857 36.095699l-37.09558 55.193425c-6.399238 9.39888-16.897987 14.998213-28.296629 14.998213z" p-id="2374" fill="#2c2c2c"></path>
        </symbol>
        <symbol id="Select" viewBox="0 0 1024 1024">
            <title>Select</title>
            <path d="M443 912.4c-59.8 0-117.8-11.7-172.4-34.7-52.8-22.3-100.1-54-140.8-94.6-40.7-40.6-72.6-87.8-95-140.4-23.1-54.4-34.8-112.3-34.8-171.9s11.7-117.5 34.8-171.9c22.3-52.6 54.2-99.8 95-140.4 40.7-40.6 88-72.4 140.8-94.7 54.6-23 112.7-34.7 172.4-34.7s117.8 11.7 172.4 34.7C668.1 86.1 715.6 118 756.2 158.5c40.7 40.6 72.6 87.8 95 140.4 23.1 54.4 34.8 112.3 34.8 171.9 0 53.4-9.4 105.6-28.1 155.2-18.1 47.9-44.2 92-77.5 131-10.5 12.2-29 13.7-41.2 3.2-12.2-10.5-13.7-29-3.2-41.2 29-33.9 51.7-72.2 67.3-113.7 16.2-42.9 24.3-88.2 24.3-134.5 0-102.3-39.9-198.5-112.7-270.9C642.4 127.5 545.7 87.6 443 87.6c-102.8 0-199.3 39.8-272 112.2-72.6 72.4-112.7 168.6-112.7 270.9s40 198.5 112.7 270.9c72.6 72.4 169.2 112.2 272 112.2 59.8 0 117-13.2 170.2-39.4 14.5-7.1 31.9-1.1 39.1 13.4 7.1 14.5 1.1 31.9-13.4 39.1-61.2 30.2-127.2 45.5-195.9 45.5zM994.7 994.9c-7.3 0-14.6-2.7-20.2-8.1L741.6 763.2c-11.6-11.2-12-29.7-0.8-41.3s29.7-12 41.3-0.8l233 223.6c11.6 11.2 12 29.7 0.8 41.3-5.8 5.9-13.5 8.9-21.2 8.9z" p-id="1956" fill="#2c2c2c"></path>
        </symbol>
        <symbol id="Profile" viewBox="0 0 1024 1024">
            <title>Select</title>
            <path d="M819.2 102.4a102.4 102.4 0 0 1 102.4 102.4v307.2c0 226.2016-183.3984 409.6-409.6 409.6S102.4 738.2016 102.4 512C102.4 289.28 280.200533 108.066133 501.589333 102.536533L512 102.4h307.2z m0 68.266667h-306.346667l-9.557333 0.1024C318.464 175.377067 170.666667 326.724267 170.666667 512c0 188.5184 152.814933 341.333333 341.333333 341.333333 185.344 0 336.145067-147.694933 341.1968-331.776L853.333333 512V204.8a34.133333 34.133333 0 0 0-30.139733-33.8944L819.2 170.666667zM307.2 443.733333a34.133333 34.133333 0 0 1 34.133333 34.133334v68.266666a34.133333 34.133333 0 0 1-68.266666 0v-68.266666a34.133333 34.133333 0 0 1 34.133333-34.133334z m136.533333 0a34.133333 34.133333 0 0 1 34.133334 34.133334v68.266666a34.133333 34.133333 0 0 1-68.266667 0v-68.266666a34.133333 34.133333 0 0 1 34.133333-34.133334z" fill="#2c2c2c" p-id="2481"></path>
        </symbol>
        <symbol id="Change-password" viewBox="0 0 1024 1024">
            <title>Select</title>
            <path d="M506.24 953.6H149.12A83.2 83.2 0 0 1 64 870.4V443.52a83.2 83.2 0 0 1 83.2-82.56h576a82.56 82.56 0 0 1 82.56 82.56v96a32 32 0 0 1-32 32 32.64 32.64 0 0 1-32-32v-96a18.56 18.56 0 0 0-18.56-18.56h-576a18.56 18.56 0 0 0-19.2 18.56v426.88a18.56 18.56 0 0 0 19.2 19.2h359.04a32 32 0 1 1 0 64z" fill="#707070" p-id="3521"></path>
            <path d="M640 419.2a32.64 32.64 0 0 1-32-32V247.68a172.8 172.8 0 0 0-345.6 0v139.52a32.64 32.64 0 0 1-32 32 32 32 0 0 1-32-32V247.68a236.8 236.8 0 0 1 473.6 0v139.52a32 32 0 0 1-32 32z" fill="#707070" p-id="3522"></path>
            <path d="M435.84 622.08m-82.56 0a82.56 82.56 0 1 0 165.12 0 82.56 82.56 0 1 0-165.12 0Z" fill="#707070" p-id="3523"></path>
            <path d="M435.84 803.2a32 32 0 0 1-32-32v-103.04a32 32 0 0 1 32-32 32 32 0 0 1 32 32v103.04a32 32 0 0 1-32 32zM704 1016.96h-8.96a230.4 230.4 0 0 1-85.76-47.36 31.36 31.36 0 0 1-10.88-24.96 30.08 30.08 0 0 1 12.16-24.32 26.24 26.24 0 0 0 10.88-19.84 24.32 24.32 0 0 0-37.12-22.4 32 32 0 0 1-27.52 0 32.64 32.64 0 0 1-17.28-20.48 211.2 211.2 0 0 1-8.96-60.16 259.84 259.84 0 0 1 7.04-55.68 33.28 33.28 0 0 1 41.6-22.4 25.6 25.6 0 0 0 34.56-23.68 26.88 26.88 0 0 0-8.96-18.56 30.08 30.08 0 0 1-10.88-23.68 33.28 33.28 0 0 1 10.24-23.68A232.96 232.96 0 0 1 696.32 576a31.36 31.36 0 0 1 39.04 21.12 24.96 24.96 0 0 0 47.36 0 32.64 32.64 0 0 1 39.68-21.12 234.88 234.88 0 0 1 91.52 51.2 33.28 33.28 0 0 1 10.24 23.68 34.56 34.56 0 0 1-10.88 23.68 26.88 26.88 0 0 0-8.96 18.56 25.6 25.6 0 0 0 25.6 26.24 19.2 19.2 0 0 0 8.32 0 35.2 35.2 0 0 1 25.6 0 32 32 0 0 1 16 20.48 227.2 227.2 0 0 1 7.68 55.68 237.44 237.44 0 0 1-7.68 56.96 33.28 33.28 0 0 1-16 19.84 32.64 32.64 0 0 1-25.6 0 24.96 24.96 0 0 0-33.92 23.04 24.32 24.32 0 0 0 8.32 18.56 31.36 31.36 0 0 1 10.24 23.68 33.28 33.28 0 0 1-10.24 23.68 225.28 225.28 0 0 1-87.68 49.92 31.36 31.36 0 0 1-26.24-3.84 30.72 30.72 0 0 1-14.72-21.76 24.96 24.96 0 0 0-24.32-21.76 25.6 25.6 0 0 0-24.32 21.76 32.64 32.64 0 0 1-14.08 22.4 33.92 33.92 0 0 1-17.28 8.96z m-28.16-78.72l10.24 5.12a87.68 87.68 0 0 1 146.56 0 109.44 109.44 0 0 0 14.72-8.32 90.88 90.88 0 0 1-7.04-35.2 89.6 89.6 0 0 1 82.56-88.96 94.72 94.72 0 0 0 0-13.44 81.92 81.92 0 0 0 0-12.16 90.24 90.24 0 0 1-82.56-89.6 88.32 88.32 0 0 1 7.68-35.84 196.48 196.48 0 0 0-19.84-10.88 93.44 93.44 0 0 1-138.24 0l-20.48 10.88a88.96 88.96 0 0 1 8.32 35.84 90.24 90.24 0 0 1-82.56 89.6 81.92 81.92 0 0 0 0 12.16 85.76 85.76 0 0 0 0 12.8 90.88 90.88 0 0 1 90.24 89.6 81.92 81.92 0 0 1-9.6 38.4z" fill="#707070" p-id="3524"></path>
            <path d="M759.04 879.36a82.56 82.56 0 1 1 82.56-82.56 82.56 82.56 0 0 1-82.56 82.56z m0-101.12a18.56 18.56 0 1 0 18.56 18.56 18.56 18.56 0 0 0-18.56-18.56z" fill="#707070" p-id="3525"></path>
        </symbol>
        <symbol id="Change-information" viewBox="0 0 1024 1024">
            <title>Select</title>
            <path d="M872.64818105 410.61836533c-17.9802167 0-29.96410958 11.98389287-29.96410957 29.96410957v383.56336231c0 41.94800244-29.97286347 77.90843584-71.92961982 77.90843584H213.39400097c-41.95675635 0-89.90108261-35.9604334-89.90108261-77.90843584V266.77663349c0-41.94800244 47.94432627-83.90475878 89.90108262-83.90475966h317.63882021c17.9802167 0 29.96410958-11.98389287 29.96410957-29.96410957s-11.98389287-29.96410958-29.96410957-29.96410957H213.39400097C129.48924219 122.94365469 63.56469922 182.87187383 63.56469922 266.77663349v557.37795763c0 83.90475878 65.92454297 137.84540888 149.82930175 137.84540888h557.3692046c83.90475878 0 131.84908506-53.94064922 131.84908505-137.84540888V446.57004482c0-17.9802167-11.98389287-35.9516795-29.96410957-35.95167949m54.82477882-275.63829434L882.86381474 90.36217197c-33.4568584-33.4568584-89.22704326-33.4568584-122.68390166 0l-78.06600351 94.80318662-423.81313594 412.6608501v11.15228584l-55.76143095 184.02147598 39.03300175 33.45685928 172.86918926-61.33757432h11.15228672l407.08470674-429.38052627 94.80318662-78.07475654c33.4481045-33.4568584 33.4481045-89.21828935-0.0087539-122.68390167M280.60534619 748.39082627l27.88071504-78.06600351 50.1852876 50.1940415-78.06600264 27.87196201m128.26004502-55.76143096l-78.06600351-78.07475742 384.77138115-379.2039917 72.49861406 72.49861407-379.2039917 384.78013505m479.57456689-479.58332168l-55.76143096 55.76143096-83.64214599-83.642146 55.76143096-55.76143096c5.57614336 0 16.7284292-5.57614336 22.30457167-5.57614335 5.57614336 0 16.7284292 5.57614336 22.30457257 5.57614335l44.61789902 44.60914425c5.56738945 11.15228584 5.56738945 27.88946895-5.58489727 39.03300175" fill="#707070" p-id="4174"></path>
        </symbol>
        <symbol id="Log-out" viewBox="0 0 1024 1024">
            <title>Select</title>
            <path d="M512 929.959184c-199.053061 0-361.012245-161.959184-361.012245-361.012245 0-130.612245 71.053061-251.297959 184.946939-315.559184 9.926531-5.746939 22.987755-2.089796 28.212245 7.836735 5.746939 9.926531 2.089796 22.987755-7.836735 28.212245-100.832653 56.42449-163.526531 163.526531-163.526531 278.987755 0 176.065306 143.15102 319.216327 319.216327 319.216326s319.216327-143.15102 319.216327-319.216326c0-115.461224-62.693878-222.563265-163.526531-278.987755-9.926531-5.746939-13.583673-18.285714-7.836735-28.212245 5.746939-9.926531 18.285714-13.583673 28.212245-7.836735 113.893878 63.738776 184.946939 184.946939 184.946939 315.036735 0 199.57551-161.959184 361.534694-361.012245 361.534694z" fill="#E5404F" p-id="9423"></path>
            <path d="M512 135.836735c-26.122449 0-47.020408 20.897959-47.020408 47.020408v229.877551c0 26.122449 20.897959 47.020408 47.020408 47.020408s47.020408-20.897959 47.020408-47.020408V182.857143c0-26.122449-20.897959-47.020408-47.020408-47.020408z" fill="#E5404F" p-id="9424"></path>
        </symbol>
        <symbol id="Notice-double" viewBox="0 0 1024 1024">
            <title>Select</title>
            <path d="M213.333333 426.666667a298.666667 298.666667 0 0 1 597.333334 0v384H213.333333v-384z" fill="#FFCC00" p-id="2255"></path>
            <path d="M512 53.333333a32 32 0 0 1 32 32v12.202667a330.666667 330.666667 0 0 1 298.666667 329.130667v352H896a32 32 0 0 1 0 64H128a32 32 0 0 1 0-64h53.333333V426.666667a330.666667 330.666667 0 0 1 298.666667-329.130667V85.333333a32 32 0 0 1 32-32zM245.333333 426.666667v352h533.333334V426.666667a266.666667 266.666667 0 1 0-533.333334 0zM384 906.666667a32 32 0 0 0 0 64h256a32 32 0 0 0 0-64H384z" fill="#000000" p-id="2256"></path>
        </symbol>
    </svg>

</head>
<body>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="layout-sidenav">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasScrollingLabel">会员管理系统</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="mx-auto" style="width: 100%;">
                <ul class="list-unstyled ps-0 ms-3">
                    @*系统*@

                    <li class="mb-md-3">
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#shop-collapse" aria-expanded="true">
                            系统管理
                        </button>
                        <div class="collapse" id="shop-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a id="StoreManagement" href="/SuperAdmin/StoreManagement" class="link-dark rounded">店铺管理</a></li>
                                <li><a id="MembershipLevelManagement" href="/SuperAdmin/MembershipLevelManagement" class="link-dark rounded">会员等级管理</a></li>
                            </ul>
                        </div>
                    </li>
                    @*礼品*@

                    <li class="mb-md-3">
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#gift-collapse" aria-expanded="false">
                            礼品管理
                        </button>
                        <div class="collapse" id="gift-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a id="GiftManagement" href="/Operation/GiftManagement" class="link-dark rounded">礼品管理</a></li>
                            </ul>
                        </div>
                    </li>
                    @*会员*@
                    <li class="mb-md-3">
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#member-collapse" aria-expanded="false">
                            会员管理
                        </button>
                        <div class="collapse" id="member-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="#" class="link-dark rounded">会员管理</a></li>
                            </ul>
                        </div>
                    </li>
                    @*会员消费*@
                    <li class="mb-md-3">
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#consumption-collapse" aria-expanded="false">
                            会员消费
                        </button>
                        <div class="collapse" id="consumption-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="#" class="link-dark rounded">快速消费</a></li>
                                <li><a href="#" class="link-dark rounded">会员减积分</a></li>
                                <li><a href="#" class="link-dark rounded">消费历史记录</a></li>
                            </ul>
                        </div>
                    </li>
                    @*积分*@
                    <li class="mb-md-3">
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#points-collapse" aria-expanded="false">
                            积分兑换
                        </button>
                        <div class="collapse" id="points-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="#" class="link-dark rounded">积分兑换礼品</a></li>
                                <li><a href="#" class="link-dark rounded">积分返现</a></li>
                                <li><a href="#" class="link-dark rounded">兑换历史记录</a></li>
                            </ul>
                        </div>
                    </li>
                    @*统计*@
                    <li class="mb-md-3">
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#statistics-collapse" aria-expanded="false">
                            统计中心
                        </button>
                        <div class="collapse" id="statistics-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="#" class="link-dark rounded">快速消费统计</a></li>
                                <li><a href="#" class="link-dark rounded">会员消费情况统计</a></li>
                                <li><a href="#" class="link-dark rounded">减积分统计</a></li>
                                <li><a href="#" class="link-dark rounded">积分返现统计</a></li>
                                <li><a href="#" class="link-dark rounded">礼品兑换统计</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div id="layout-wrapper" class="">
        <div id="toast-container" class="toast-container position-fixed top-0 start-0 p-3">
            <div id="liveToast" class="toast toast-top-right" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <svg class="bi my-auto align-middle me-2" width="20" height="20"><use xlink:href="#Notice-double" /></svg>
                    <strong class="me-auto">@ViewBag.PageName</strong>
                    <small>刚刚</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    Hello, world! This is a toast message.
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container">
                <button class="btn btn-link" type="button" data-bs-toggle="offcanvas" data-bs-target="#layout-sidenav">
                    <svg class="bi my-auto align-middle" width="24" height="24"><use xlink:href="#ico_Sidenav" /></svg>
                </button>
                <a class="navbar-brand" href="#">@ViewBag.PageName</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <svg class="bi my-auto align-middle" width="24" height="24"><use xlink:href="#ico_RoleAdmin" /></svg>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-2 mb-lg-0 ml-auto">
                        <li class="nav-item dropdown ml-3">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <svg class="bi my-auto align-middle me-2" width="24" height="24"><use xlink:href="#Profile" /></svg><span class="" id="UserName"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#"><svg class="bi my-auto align-middle me-2" width="20" height="26"><use xlink:href="#Change-information" /></svg><span class="align-middle">编辑信息</span></a></li>
                                <li><a class="dropdown-item" href="#"><svg class="bi my-auto align-middle me-2" width="20" height="26"><use xlink:href="#Change-password" /></svg><span class="align-middle">修改密码</span></a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#"><svg class="bi my-auto align-middle me-2" width="20" height="26"><use xlink:href="#Log-out" /></svg><span class="align-middle">退出登录</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="layout-container" class="container mt-5">
            @RenderBody()
        </div>
    </div>
</body>
</html>
