
@{
    ViewBag.PageName = "礼品管理";
    ViewBag.Title = "GiftManagement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table id="GiftsTable" class=""></table>
<script>
    function LoadShopsTable() {
        
        $("#GiftsTable").bootstrapTable({
            url: "/Operation/GetGiftsInfo",
            striped: true, //是否显示行间隔色
            pageNumber: 1,
            clickToSelect: true,
            pagination: true,
            sidePagination: 'server',//server:服务器端分页|client：前端分页
            totalField: 'total',
            pageSize: 15,
            paginationShowPageGo: true,//是否跳转页码，这个需要扩展bootstrapTable.js插件，本身不支持
            pageList: [0],//可选择单页记录数

            queryParams: function (params) {
                var temp = {
                    limit: params.limit,
                    offset: params.offset,
                    /* page : (params.offset / params.limit) + 1,*/
                };
                return temp;
            },

            columns: [{
                radio: true,
            }, {
                title: '礼品编号',
                field: 'EG_ID'
            }, {
                title: '礼品编码',
                field: 'EG_GiftCode'
            }, {
                title: '礼品名称',
                field: 'EG_GiftName'
            }, {
                title: '所需积分',
                field: 'EG_Point'
            }, {
                title: '总数量',
                field: 'EG_Number'
            }, {
                title: '已兑换的数量',
                field: 'EG_ExchangNum'
            },],
        })
    };

    $(function () {

        LoadShopsTable();

    });
</script>