
@{
    ViewBag.PageName = "会员等级管理";
    ViewBag.Title = "MembershipLevelManagement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form>
    <button type="button" class="btn btn-success" data-bs-toggle="offcanvas" data-bs-target="#CreatePageTop" aria-controls="CreatePageTop"><svg class="bi me-2 align-middle" width="18" height="18"><use xlink:href="#Create" /></svg><lable class="fs-6 fw-semibold align-middle">新增</lable></button>
    <button type="button" class="btn btn-primary"><svg class="bi me-2 my-auto align-middle" width="18" height="18"><use xlink:href="#Updata" /></svg><lable class="fs-6 fw-semibold align-middle">修改</lable></button>
    <button type="button" class="btn btn-danger"><svg class="bi me-2 my-auto align-middle" width="18" height="18"><use xlink:href="#Delete" /></svg><lable class="fs-6 fw-semibold align-middle">删除</lable></button>
</form>

<hr class="bg-dark" />
<form>
    <div class="d-flex form-inline row mb-3">
        <label class="col-1 form-label">等级名称</label>
        <input id="txtCLevelName" type="text" class="col-2 form-control" value="" />
        <button id="btnSelect" type="button" class="col-1 mx-5 px-2 btn btn-info">
            <svg class="bi me-2 my-auto align-middle" width="18" height="18"><use xlink:href="#Select" /></svg>
            <lable class="fs-6 fw-semibold align-middle">查询</lable>
        </button>
    </div>
</form>
<table id="MembershipLevelTable" class=""></table>
<script>
    function LoadShopsTable() {

        $("#MembershipLevelTable").bootstrapTable({
            url: "/SuperAdmin/GetMembershipLevelsInfo",
            striped: true, //是否显示行间隔色
            pageNumber: 1,
            clickToSelect: true,
            pagination: true,
            sidePagination: 'server',//server:服务器端分页|client：前端分页
            totalField: 'total',
            pageSize: 15,
            paginationShowPageGo: true,//是否跳转页码，这个需要扩展bootstrapTable.js插件，本身不支持
            pageList: [0],//可选择单页记录数

            queryParams: function (params) {
                var temp = {
                    limit: params.limit,
                    offset: params.offset,
                    CLevelName: $("#txtCLevelName").val(),
                    /* page : (params.offset / params.limit) + 1,*/
                };
                return temp;
            },

            columns: [{
                radio: true,
            }, {
                title: '等级编号',
                field: 'CL_ID'
            }, {
                title: '等级名称',
                field: 'CL_LevelName'
            }, {
                title: '所需积分',
                field: 'CL_NeedPoint'
            }, {
                title: '加分比例',
                field: 'CL_Point'
            }, {
                title: '折扣比例',
                field: 'CL_Percent'
            }],
        })
    };

    $(function () {

        LoadShopsTable();
        $("#btnSelect").bind("click", function () {
            $("#MembershipLevelTable").bootstrapTable("refresh");
        })
    });
</script>


