
@{
    ViewBag.PageName = "店铺管理";
    ViewBag.Title = "StoreManagement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
</style>
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">

</svg>
<div>
    <div class="modal fade" id="CreatePageTop" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="CreatePageTop">新增店铺</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group mx-auto">
                            <label class="form-label">店铺名称</label>
                            <input id="newS_Name" type="text" class="form-control" placeholder="" value="" />
                        </div>
                        <div class="form-group mx-auto">
                            <label class="form-label">店铺类型</label>
                            <div id="newS_Category" class="row" role="group" aria-label="Basic radio toggle button group">
                                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" value="1" checked>
                                <label class="btn btn-outline-info col mx-2 mt-2" for="btnradio1">总部</label>

                                <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" value="2">
                                <label class="btn btn-outline-primary col mx-2 mt-2" for="btnradio2">直营店</label>

                                <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" value="3">
                                <label class="btn btn-outline-dark col mx-2 mt-2" for="btnradio3">加盟店</label>
                            </div>
                        </div>
                        <div class="form-group mx-auto">
                            <label class="form-label">联系人</label>
                            <input id="newS_ContactName" type="text" class="form-control" name="name" value="" />
                        </div>
                        <div class="form-group mx-auto">
                            <label class="form-label">联系电话</label>
                            <input id="newS_ContactTel" type="text" class="form-control" name="name" value="" />
                        </div>
                        <div class="form-group mx-auto">
                            <label class="form-label">店铺地址</label>
                            <input id="newS_Address" type="text" class="form-control" name="name" value="" />
                        </div>
                        <div class="form-group mx-auto">
                            <label class="form-label">备注</label>
                            <input id="newS_Remark" type="text" class="form-control" name="name" value="" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="offcanvas-btn-Create" type="button" class="btn btn-primary w-25">新增</button>
                </div>
            </div>
        </div>
    </div>

    <form>
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#CreatePageTop" aria-controls="CreatePageTop"><svg class="bi me-2 align-middle" width="18" height="18"><use xlink:href="#Create" /></svg><lable class="fs-6 fw-semibold align-middle">新增</lable></button>
        <button type="button" class="btn btn-primary"><svg class="bi me-2 my-auto align-middle" width="18" height="18"><use xlink:href="#Updata" /></svg><lable class="fs-6 fw-semibold align-middle">修改</lable></button>
        <button type="button" class="btn btn-danger"><svg class="bi me-2 my-auto align-middle" width="18" height="18"><use xlink:href="#Delete" /></svg><lable class="fs-6 fw-semibold align-middle">删除</lable></button>
        <button type="button" class="btn btn-warning"><svg class="bi me-2 my-auto align-middle" width="18" height="18"><use xlink:href="#Distribution" /></svg><lable class="fs-6 fw-semibold text-white align-middle">分配管理员</lable></button>
    </form>
    <hr class="bg-dark" />
    <form>
        <div class="d-flex form-inline row mb-3">
            <label class="col-1 form-label">店铺名称</label>
            <input id="txtSName" type="text" class="col-2 form-control" value="" />
            <label class="form-label col-1">联系人</label>
            <input id="txtSContactName" type="text" class="col-2 form-control" value="" />
            <label class="form-label col-1">联系电话</label>
            <input id="txtSAddress" type="text" class="col-2 form-control" value="" />
            <button id="btnSelect" type="button" class="col-1 mx-5 px-2 btn btn-info">
                <svg class="bi me-2 my-auto align-middle" width="18" height="18"><use xlink:href="#Select" /></svg>
                <lable class="fs-6 fw-semibold align-middle">查询</lable>
            </button>
        </div>
    </form>
    <table id="ShopsTable" class=""></table>
</div>
<script>
    async function showToast(message, title, delay) {
        var toastTemplate = $('#toast-template').clone();
        toastTemplate.find('.toast-body').text(message);
        toastTemplate.find('.toast-header').text(title);
        toastTemplate.css('display', 'block');
        toastTemplate.appendTo('#toast-container');
        toastTemplate.toast('show');

        if (delay) {
            setTimeout(function () {
                toastTemplate.remove();
            }, delay);
        }
    }
    function LoadShopsTable() {

        $("#ShopsTable").bootstrapTable({
            url: "/SuperAdmin/GetShopsInfo",
            striped: true, //是否显示行间隔色
            pageNumber: 1,
            clickToSelect: true,
            pagination: true,
            sidePagination: 'server',//server:服务器端分页|client：前端分页
            totalField: 'total',
            pageSize: 15,
            paginationShowPageGo: true,//是否跳转页码，这个需要扩展bootstrapTable.js插件，本身不支持
            pageList: [0],//可选择单页记录数
            onLoadSuccess: function () {
                return "123";
            },
            queryParams: function (params) {
                var temp = {
                    limit: params.limit,
                    offset: params.offset,
                    SName: $("#txtSName").val(),
                    SContactName: $("#txtSContactName").val(),
                    SAddress: $("#txtSAddress").val(),
                    /* page : (params.offset / params.limit) + 1,*/
                };
                return temp;
            },

            columns: [{
                radio: true,
            }, {
                title: '编号',
                field: 'S_ID'
            }, {
                title: '店铺名称',
                field: 'S_Name'
            }, {
                title: '店铺类型',
                field: 'CI_Name'
            }, {
                title: '联系人',
                field: 'S_ContactName'
            }, {
                title: '联系人电话',
                field: 'S_ContactTel'
            }, {
                title: '地址',
                field: 'S_Address'
            },
            {
                title: '是否分配管理员',
                field: 'S_IsHasSetAdmin',
                formatter: function (value) {
                    if (true) {
                        return '是';
                    } else {
                        return '否';
                    }
                },
            },
            {
                title: '创立时间',
                field: 'S_CreateTime',
                formatter: function (value) {
                    var date = new Date(parseInt(value.replace(/\D/igm, "")));
                    var year = date.getFullYear();
                    var month = date.getMonth() + 1;
                    var day = date.getDay();
                    return year + "年" + month + "月" + day + "日";

                },
            },],
        })
        $("#btnSelect").bind("click", function () {
            $("#ShopsTable").bootstrapTable("refresh");
        })
    };
    function LoadToolbar() {
        $("#btnSelect").bind("click", function () {
            $("#ShopsTable").bootstrapTable("refresh");
        })
        $("#offcanvas-btn-Create").bind("click", function () {
            var newShop = {
                S_Name: $('#newS_Name').val(),
                S_Category: $('#newS_Category input[type="radio"]:checked').val(),
                S_ContactName: $('#newS_ContactName').val(),
                S_ContactTel: $('#newS_ContactTel').val(),
                S_Address: $('#newS_Address').val(),
                S_Remark: $('#newS_Remark').val(),
            };
            $.ajax({
                dataType: "json",
                url: "/SuperAdmin/CreateShop",
                contentType: 'application/json',
                type: 'post',
                data: JSON.stringify(newShop),
                success: function (result) {
                    if (result) {
                        $("#CreatePageTop").modal('toggle');
                        $("#ShopsTable").bootstrapTable("refresh");
                        showToast('这是一个Toast通知!', '通知', 5000);
                    }

                }
            })

        })
    }

    $(function () {

        LoadShopsTable();
        LoadToolbar();
    });

</script>

