
@{
    ViewBag.PageName = "店铺管理";
    ViewBag.Title = "StoreManagement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #ShopsTable tr th {
        border: 1px solid #d8edf5;
    }

    #ShopsTable tr td {
        border: 1px solid #d8edf5;
    }
</style>
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="Create" viewBox="0 0 1024 1024">
        <title>Create</title>
        <path d="M788.281302 548.493644h-540.994717c-16.799836 0-30.399703-13.599867-30.399703-30.399704 0-16.799836 13.599867-30.399703 30.399703-30.399703h540.994717c16.799836 0 30.399703 13.599867 30.399703 30.399703 0 16.699837-13.599867 30.399703-30.399703 30.399704zM517.683944 819.191c-16.799836 0-30.399703-13.599867-30.399703-30.399703v-541.494712c0-16.799836 13.599867-30.399703 30.399703-30.399703s30.399703 13.599867 30.399704 30.399703v541.494712c0.099999 16.799836-13.599867 30.399703-30.399704 30.399703zM512.483995 1023.989c-69.099325 0-136.19867-13.499868-199.298053-40.299606-60.999404-25.799748-115.798869-62.699388-162.698412-109.798928-47.09954-46.999541-83.99918-101.699007-109.798927-162.79841-26.699739-63.199383-40.199607-130.198729-40.199608-199.298054s13.599867-136.19867 40.199608-199.298054c25.799748-60.699407 62.699388-115.598871 109.798927-162.598412s101.699007-83.99918 162.698412-109.59893c63.099384-26.699739 130.198729-40.299606 199.298053-40.299606s136.19867 13.499868 199.298054 40.299606c60.999404 25.799748 115.798869 62.599389 162.698411 109.59893 47.09954 46.999541 83.99918 101.699007 109.798928 162.79841 26.699739 63.199383 40.199607 130.198729 40.199607 199.298054 0 92.699095-25.099755 183.498208-72.499292 262.697435-8.699915 14.499858-27.299733 19.099813-41.699592 10.499897-14.399859-8.699915-18.999814-27.299733-10.499898-41.799592 41.699593-69.699319 63.799377-149.698538 63.899376-231.297741 0-60.899405-11.899884-119.898829-35.399654-175.498286-22.699778-53.799475-55.29946-101.899005-96.699056-143.3986s-89.799123-73.999277-143.498599-96.699055c-55.599457-23.59977-114.69888-35.399654-175.698284-35.399655s-119.998828 11.899884-175.698284 35.399655c-53.599477 22.699778-101.799006 55.199461-143.198602 96.699055s-73.999277 89.599125-96.699055 143.3986c-23.499771 55.599457-35.399654 114.69888-35.399654 175.498286 0 60.899405 11.899884 119.898829 35.399654 175.498286 22.699778 53.799475 55.29946 101.899005 96.699055 143.3986 41.399596 41.399596 89.799123 73.999277 143.498599 96.699056 55.599457 23.59977 114.69888 35.399654 175.698284 35.399654 90.899112 0 178.498257-26.899737 253.397526-77.79924 13.899864-9.399908 32.79968-5.899942 42.299587 7.999921 9.399908 13.899864 5.899942 32.899679-7.999922 42.299587-85.199168 57.899435-184.698196 88.399137-287.897189 88.399137z" p-id="1576" fill="#2c2c2c"></path>
    </symbol>
    <symbol id="Updata" viewBox="0 0 1024 1024">
        <title>Updata</title>
        <path d="M319.018846 629.538522c-7.799238 0-15.598477-2.999707-21.497901-8.899131-11.898838-11.898838-11.898838-31.196953 0-43.095792l216.378869-216.67884c11.898838-11.898838 31.096963-11.898838 42.995802 0 11.898838 11.898838 11.898838 31.196953 0 43.095792L340.516746 620.739381c-5.899424 5.799434-13.698662 8.799141-21.4979 8.799141zM589.492432 358.864955c-7.799238 0-15.598477-2.999707-21.4979-8.899131-11.898838-11.898838-11.898838-31.196953 0-43.095792l54.094717-54.194707c11.898838-11.898838 31.096963-11.898838 42.995801 0 11.898838 11.898838 11.898838 31.196953 0 43.095791L610.990333 349.865833c-5.999414 5.999414-13.798652 8.999121-21.497901 8.999122zM751.776584 737.827946h-540.947173c-16.79836 0-30.397032-13.598672-30.397031-30.397031 0-16.79836 13.598672-30.397032 30.397031-30.397032h540.847183c16.79836 0 30.397032 13.598672 30.397032 30.397032s-13.498682 30.397032-30.297042 30.397031zM511.90001 1024c-69.093253 0-136.186701-13.498682-199.280539-40.296065C251.725417 957.906454 196.930768 921.010058 150.035348 874.014647c-47.095401-46.995411-83.991798-101.690069-109.689288-162.784103C13.548677 648.036715 0.049995 580.943267 0.049995 511.850015s13.598672-136.186701 40.196075-199.280539C66.04355 251.775413 102.939947 196.980764 150.035348 149.985353c47.095401-46.995411 101.690069-83.991798 162.684113-109.689288 63.093838-26.697393 130.187286-40.296065 199.280539-40.296065s136.186701 13.498682 199.280539 40.296065c60.994044 25.797481 115.788693 62.693878 162.684113 109.689288 47.095401 46.995411 83.991798 101.690069 109.689288 162.784103 26.697393 63.193829 40.196075 130.187286 40.196075 199.280539 0 92.790938-25.097549 183.582072-72.492921 262.674348-8.69915 14.498584-27.297334 19.098135-41.695928 10.498975-14.398594-8.69915-18.998145-27.297334-10.498975-41.795918 41.695928-69.693194 63.79377-149.685382 63.893761-231.277415 0-60.894053-11.898838-119.988282-35.396544-175.482863-22.697783-53.794747-55.2946-101.99004-96.690557-143.385997C789.572893 151.585197 741.27761 119.08837 687.582853 96.390587 631.988282 72.792891 572.894053 60.894053 512 60.894053S392.011718 72.792891 336.417147 96.390587C282.6224 119.08837 234.427107 151.585197 193.031149 193.081144s-73.992774 89.591251-96.690557 143.385998c-23.497705 55.594571-35.396543 114.6888-35.396544 175.482863 0 60.894053 11.898838 119.988282 35.396544 175.482863 22.697783 53.794747 55.2946 101.99004 96.690557 143.385997 41.395957 41.395957 89.691241 73.992774 143.385998 96.690558C392.011718 951.107118 451.105947 963.005956 512 963.005956c90.891124 0 178.48257-26.897373 253.375256-77.892393 13.898643-9.399082 32.796797-5.899424 42.29587 7.999219s5.899424 32.896787-7.999219 42.295869c-84.9917 58.094327-184.481984 88.591349-287.771897 88.591349z" p-id="1766" fill="#2c2c2c"></path>
    </symbol>
    <symbol id="Delete" viewBox="0 0 1024 1024">
        <title>Delete</title>
        <path d="M752.489 1023.989h-480.9c-83.3 0-151.1-63.8-151.1-142.3v-670.9c0-16.6 13.4-30.1 30.1-30.1 16.6 0 30.1 13.4 30.1 30.1v670.9c0 45.2 40.8 82.1 90.8 82.1h480.8c50.1 0 90.8-36.8 90.8-82.1v-318.1c0-16.6 13.4-30.1 30.1-30.1 16.6 0 30.1 13.4 30.1 30.1v318.1c0.3 78.5-67.4 142.3-150.8 142.3z m120.9-694.9c-16.6 0-30.1-13.4-30.1-30.1v-88.2c0-16.6 13.4-30.1 30.1-30.1 16.6 0 30.1 13.4 30.1 30.1v88.2c0.1 16.7-13.3 30.1-30.1 30.1zM963.889 210.789h-903.6c-16.6 0-30.1-13.4-30.1-30.1s13.4-30.1 30.1-30.1h903.5c16.6 0 30.1 13.4 30.1 30.1s-13.4 30.1-30 30.1zM512.089 210.789c-33.2 0-60.2-27-60.2-60.2v-90.3c0-33.2 27-60.2 60.2-60.2s60.2 26.9 60.2 60.1v90.3c0 33.3-27 60.3-60.2 60.3zM361.489 873.289c-16.6 0-30.1-13.4-30.1-30.1v-542.1c0-16.6 13.4-30.1 30.1-30.1 16.6 0 30.1 13.4 30.1 30.1v542.1c0 16.7-13.5 30.1-30.1 30.1zM662.589 873.289c-16.6 0-30.1-13.4-30.1-30.1v-542.1c0-16.6 13.4-30.1 30.1-30.1 16.6 0 30.1 13.4 30.1 30.1v542.1c0.1 16.7-13.4 30.1-30.1 30.1z" p-id="2146" fill="#2c2c2c"></path>
    </symbol>
    <symbol id="Distribution" viewBox="0 0 1024 1024">
        <title>Distribution</title>
        <path d="M544.56312 1023.978003h-389.753564c-51.093913 0-92.788945-42.094985-92.788945-93.988802v-836.000399c0-51.793829 41.795021-93.988802 92.988921-93.988802h701.216457c51.393877 0 92.988921 42.194973 92.988921 94.188778v463.744749c0 18.79776-15.198189 34.095938-34.095938 34.095938s-34.095938-15.198189-34.095938-34.095938v-463.544773c0-14.298296-11.198666-25.896915-24.797045-25.896914h-701.216457c-13.698368 0-24.797046 11.49863-24.797046 25.696938v836.000399c0 14.398285 10.798713 25.696938 24.497082 25.696938h389.753564c18.79776 0 34.095938 15.198189 34.095938 34.095938 0 18.79776-15.098201 33.99595-33.99595 33.99595zM768.936388 337.159831h-526.537268c-18.79776 0-34.095938-15.198189-34.095937-34.095938s15.198189-34.095938 34.095937-34.095938h526.537268c18.79776 0 34.095938 15.198189 34.095938 34.095938s-15.198189 34.095938-34.095938 34.095938zM534.864276 516.338483h-292.465156c-18.79776 0-34.095938-15.198189-34.095937-34.095938s15.198189-34.095938 34.095937-34.095937h292.465156c18.79776 0 34.095938 15.198189 34.095938 34.095937s-15.198189 34.095938-34.095938 34.095938zM739.639879 964.285114c-115.586229 0-209.575031-95.788588-209.575031-213.27459 0-18.79776 15.198189-34.095938 34.095938-34.095938 18.79776 0 34.095938 15.198189 34.095937 34.095938 0 79.99047 63.492435 145.082715 141.283168 145.082715 19.897629 0 39.095342-4.1995 57.193186-12.398523 17.197951-7.799071 37.395545-0.199976 45.194615 16.897987 7.799071 17.197951 0.199976 37.395545-16.897987 45.194615-26.896795 12.198547-55.593377 18.497796-85.389826 18.497796z m175.579081-179.178652c-18.79776 0-34.095938-15.198189-34.095938-34.095938 0-79.99047-63.492435-145.082715-141.283167-145.082715-18.697772 0-36.995592 3.699559-54.093555 10.99869-17.397927 7.399118-37.395545-0.699917-44.794663-17.997856-7.399118-17.397927 0.699917-37.395545 17.997855-44.794663 25.696938-10.898702 52.893698-16.398046 80.890363-16.398046 115.586229 0 209.575031 95.788588 209.575031 213.27459-0.099988 18.79776-15.398165 34.095938-34.195926 34.095938zM681.146848 665.620698h-58.593019c-11.798594 0-22.697296-6.099273-28.896558-16.098083-6.199261-9.998809-6.79919-22.397332-1.699797-33.096056l29.296509-59.792877c5.799309-11.798594 17.597903-19.097725 30.596355-19.097724 13.098439 0 24.997022 7.399118 30.596355 19.097724l29.296509 59.792877c5.199381 10.598737 4.599452 22.99726-1.699797 33.096056-6.099273 10.098797-17.197951 16.098082-28.896557 16.098083zM826.929479 973.683995h-1.199857c-11.798594-0.399952-22.597308-6.79919-28.396617-16.997975l-29.296509-50.593972c-5.899297-10.198785-6.099273-22.697296-0.599929-33.096057 5.499345-10.398761 16.098082-17.197951 27.796688-17.997856l66.39209-4.599452c12.998451-0.799905 25.296986 5.799309 31.8962 16.997975 6.499226 11.298654 5.999285 25.296986-1.199857 36.095699l-37.09558 55.193425c-6.399238 9.39888-16.897987 14.998213-28.296629 14.998213z" p-id="2374" fill="#2c2c2c"></path>
    </symbol>
    <symbol id="Select" viewBox="0 0 1024 1024">
        <title>Select</title>
        <path d="M443 912.4c-59.8 0-117.8-11.7-172.4-34.7-52.8-22.3-100.1-54-140.8-94.6-40.7-40.6-72.6-87.8-95-140.4-23.1-54.4-34.8-112.3-34.8-171.9s11.7-117.5 34.8-171.9c22.3-52.6 54.2-99.8 95-140.4 40.7-40.6 88-72.4 140.8-94.7 54.6-23 112.7-34.7 172.4-34.7s117.8 11.7 172.4 34.7C668.1 86.1 715.6 118 756.2 158.5c40.7 40.6 72.6 87.8 95 140.4 23.1 54.4 34.8 112.3 34.8 171.9 0 53.4-9.4 105.6-28.1 155.2-18.1 47.9-44.2 92-77.5 131-10.5 12.2-29 13.7-41.2 3.2-12.2-10.5-13.7-29-3.2-41.2 29-33.9 51.7-72.2 67.3-113.7 16.2-42.9 24.3-88.2 24.3-134.5 0-102.3-39.9-198.5-112.7-270.9C642.4 127.5 545.7 87.6 443 87.6c-102.8 0-199.3 39.8-272 112.2-72.6 72.4-112.7 168.6-112.7 270.9s40 198.5 112.7 270.9c72.6 72.4 169.2 112.2 272 112.2 59.8 0 117-13.2 170.2-39.4 14.5-7.1 31.9-1.1 39.1 13.4 7.1 14.5 1.1 31.9-13.4 39.1-61.2 30.2-127.2 45.5-195.9 45.5zM994.7 994.9c-7.3 0-14.6-2.7-20.2-8.1L741.6 763.2c-11.6-11.2-12-29.7-0.8-41.3s29.7-12 41.3-0.8l233 223.6c11.6 11.2 12 29.7 0.8 41.3-5.8 5.9-13.5 8.9-21.2 8.9z" p-id="1956" fill="#2c2c2c"></path>
    </symbol>
</svg>
<div>
    <button type="button" class="btn btn-success"><svg class="bi me-2 align-middle" width="18" height="18"><use xlink:href="#Create" /></svg><lable class="fs-6 fw-semibold align-middle">新增</lable></button>
    <button type="button" class="btn btn-primary"><svg class="bi me-2 my-auto align-middle" width="18" height="18"><use xlink:href="#Updata" /></svg><lable class="fs-6 fw-semibold align-middle">修改</lable></button>
    <button type="button" class="btn btn-danger"><svg class="bi me-2 my-auto align-middle" width="18" height="18"><use xlink:href="#Delete" /></svg><lable class="fs-6 fw-semibold align-middle">删除</lable></button>
    <button type="button" class="btn btn-warning"><svg class="bi me-2 my-auto align-middle" width="18" height="18"><use xlink:href="#Distribution" /></svg><lable class="fs-6 fw-semibold text-white align-middle">分配管理员</lable></button>
    <hr class="bg-dark" />
    <form action="/" method="post">
        <div class="d-flex form-inline row mb-3">
            <label class="col-1 form-label">店铺名称</label>
            <input type="text" class="col-2 form-control" name="name" value="" />
            <label class="form-label col-1">联系人</label>
            <input type="text" class="col-2 form-control" name="name" value="" />
            <label class="form-label col-1">联系电话</label>
            <input type="text" class="col-2 form-control" name="name" value="" />
            <button class="col-1 mx-5 px-2 btn btn-info"><svg class="bi me-2 my-auto align-middle" width="18" height="18"><use xlink:href="#Select" /></svg><lable class="fs-6 fw-semibold align-middle">查询</lable></button>
        </div>
    </form>
    <table id="ShopsTable" class=""></table>
</div>
<script>
    //function LoadShopsTable() {

    //    $("#ShopsTable").bootstrapTable({
    //        url: "/SuperAdmin/GetShopsInfo",
    //        striped: true, //是否显示行间隔色
    //        pageNumber: 1,
    //        clickToSelect: true,
    //        pagination: true,
    //        sidePagination: 'server',//server:服务器端分页|client：前端分页
    //        totalField: 'total',
    //        pageSize: 15,
    //        paginationShowPageGo: true,//是否跳转页码，这个需要扩展bootstrapTable.js插件，本身不支持
    //        pageList: [0],//可选择单页记录数

    //        queryParams: function (params) {
    //            var temp = {
    //                limit: params.limit,
    //                offset: params.offset,
    //                /* page : (params.offset / params.limit) + 1,*/
    //            };
    //            return temp;
    //        },

    //        columns: [{
    //            radio: true,
    //        }, {
    //            title: '编号',
    //            field: 'S_ID'
    //        }, {
    //            title: '店铺名称',
    //            field: 'S_Name'
    //        }, {
    //            title: '店铺类型',
    //            field: 'CI_Name'
    //        }, {
    //            title: '联系人',
    //            field: 'S_ContactName'
    //        }, {
    //            title: '联系人电话',
    //            field: 'S_ContactTel'
    //        }, {
    //            title: '地址',
    //            field: 'S_Address'
    //        },
    //        {
    //            title: '是否分配管理员',
    //            field: 'S_IsHasSetAdmin',
    //            formatter: function (value) {
    //                if (true) {
    //                    return '是';
    //                } else {
    //                    return '否';
    //                }
    //            },
    //        },
    //        {
    //            title: '创立时间',
    //            field: 'S_CreateTime',
    //            formatter: function (value) {
    //                var date = new Date(parseInt(value.replace(/\D/igm, "")));
    //                var year = date.getFullYear();
    //                var month = date.getMonth() + 1;
    //                var day = date.getDay();
    //                return year + "年" + month + "月" + day + "日";

    //            },
    //        },],
    //    })
    //};

    //$(function () {

    //    LoadShopsTable();

    //});

</script>

